@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model Windgram.Identity.STS.Models.Account.ExternalLoginConfirmationViewModel

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h4>@Localizer["SubTitle", ViewData["LoginProvider"]]</h4>

<form asp-action="Confirmation" asp-route-returnUrl="@ViewData["returnUrl"]" method="post" class="form-horizontal">
    <hr />
    @await Html.PartialAsync("_ValidationSummary")
    <div class="alert alert-info" role="alert">
        @Localizer["Info", ViewData["LoginProvider"]]
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">@Localizer["Email"]</label>
        <div class="input-group mb-3">
            <input asp-for="Email" class="form-control" />
            <button type="button" onclick="sendCode(this)" class="btn btn-outline-secondary">@Localizer["SendCode"]</button>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Code" class="control-label">@Localizer["Code"]</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@Localizer["Register"]</button>
    </div>
</form>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function sendCode(button) {
            console.log(button);
                button.setAttribute('disabled', 'true');
                let countingDown = 60;
                var interval = setInterval(() => {
                    countingDown--;
                    button.innerText = countingDown + 's';
                    if (countingDown === 0) {
                        button.removeAttribute('disabled');
                        button.innerText = '@Localizer["ResendCode"]';
                        clearInterval(interval);
                    }
                }, 1000);
                requestSendCode(document.getElementById('Email').value);
        }
        function requestSendCode(email) {
            var csrfToken = getCookie("CSRF-TOKEN");
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == XMLHttpRequest.DONE) {
                    if (xhttp.status != 200) {
                        alert('@Localizer["SendCodeFailed"]');
                    }
                }
            };
            xhttp.open('POST','@Url.Action("GenerateEmailVerifyCode")' , true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.setRequestHeader("X-CSRF-TOKEN", csrfToken);
            xhttp.send(JSON.stringify({ "email": email }));
        }
    </script>
}
